.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  th {
    background-color: $hover-color;
    padding: 0.5rem;
  }
  td {
    padding: 0.5rem;
    //border-bottom: 2px solid $hover-color;

    div {
      display: flex;
      justify-content: center;
    }
  }

  .actions {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.table-2 {
  margin-left: auto;
  margin-right: auto;

  .date {
    width: 6%;
  }
  td {
    padding: 0.5rem;
    //border-bottom: 2px solid $hover-color;
  }
}

@media (max-width: 800px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table {
    tr {
      border: 1px solid $hover-color;
      margin-bottom: 2px;

      &:hover {
        background-color: $hover-color;
      }

      td {
        position: relative;

        div {
          justify-content: flex-start;
        }

        img {
          max-height: 400px;
          width: auto;
        }
      }
    }
  }
}
