// Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text styles

.x-large {
  font-size: 3rem;
  line-height: 1.2;
  position: relative;
}

.lead {
  font-size: 1.5rem;
  color: $dark-color;
}

.text-menu {
  color: $dark-color;
  padding-left: 1rem;
}

.text-menu-home {
  color: $dark-color;
  font-size: 1rem;
  padding-bottom: 1.25rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $button-color;
  }
}

.text-menu-small {
  color: $dark-color;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $button-color;
  }
}

.selected {
  color: $button-color;
}

.centered {
  text-align: center;
}

@media (max-width: 700px) {
  .x-large {
    font-size: 2.5rem;
    text-align: center;
  }
}

// Backgrounds

// Buttons

.btn {
  display: inline-block;
  background: $hover-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  border-radius: 10px;

  &.btn-primary {
    font-family: "Raleway", sans-serif;
    background: $button-color;
    color: $primary-color;

    &:hover {
      background: lighten($button-color, 5%);
    }
  }

  &.btn-dark {
    font-family: "Raleway", sans-serif;
    background: $button-dark;
    color: $primary-color;

    &:hover {
      background: lighten($button-color, 5%);
    }
  }

  &.btn-success {
  }

  &.btn-danger {
    font-family: "Raleway", sans-serif;
    background: red;
    color: $primary-color;

    &:hover {
      background: #902020;
    }
  }
}

//Alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  //background:
  color: #333;

  &.alert-primary {
  }

  &.alert-dark {
  }

  &.alert-success {
    background-color: green;
    color: white;
  }

  &.alert-danger {
    background-color: red;
    color: white;
  }
}
