@import "./config";
@import "./utilities";
@import "./form";
@import "./table";
@import "./grid";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $primary-color;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  padding: 8px 30px;
  width: 100%;

  &:hover {
    background-color: $hover-color;
  }
}

.navbar {
  background: url("../components/layout/ElmParkbanner.jpg") no-repeat center
    center/cover;
  z-index: 1;
  width: 100%;
  height: 120px;
  opacity: 0.9;
  border-bottom: 5px solid $dark-color;

  .dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-end;

    h1 {
      color: $primary-color;
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  height: 100vh;

  &-inner {
    background-image: linear-gradient($hover-color, #d3d3d3);
    border-radius: 15px;
    -moz-box-shadow: 0 0 10px #bababa;
    -webkit-box-shadow: 0 0 10px #bababa;
    box-shadow: 0 0 10px #bababa;
    height: 30%;
    width: 30%;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
  height: 100vh;

  .sidebar {
    padding: 1.5rem;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menu {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .main {
    background-color: $secondary-color;

    &-inner {
      background-color: $primary-color;
      border-top: 1px solid $dark-color;

      .artworks {
        background-color: $primary-color;
      }

      .seminar {
        background-color: $secondary-color;

        .header-text {
          text-align: center;
          margin-top: 1rem;
        }

        &-inner-1 {
          display: flex;
          justify-content: center;
        }

        &-inner-2 {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .display-seminar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $primary-color;
            border-radius: 10px;
            opacity: 0.8;
            transition: 0.3s;
            padding: 1rem;

            &:hover {
              background-color: $hover-color;
              opacity: 1;
            }

            &-inner {
              display: flex;

              &-img {
                padding: 0.25rem;
                border: 2px solid $dark-color;
              }

              &-details {
                display: flex;
                align-items: center;
                .seminar-text {
                  display: inline;
                }
              }
            }
          }
        }

        &-inner {
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: $primary-color;
        }

        .purpleDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
          border: 3px solid $button-color !important;
          border-radius: 0px;

          &:hover {
            background-color: $select-primary-color;
          }
        }

        .Calendar.-noFocusOutline.-ltr {
          width: 60%;
          height: auto;
          font-family: "Raleway", sans-serif;
          border: none;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          padding: 1rem;
          background-color: $primary-color;

          .Calendar__weekDays {
            color: $dark-color;
          }

          .Calendar__day.-ltr {
            border-radius: 0px;
          }
        }
      }
    }
  }
}

.edit-artwork {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-inner {
    width: 80%;
  }
}

.home {
  display: grid;
  grid-template-columns: minmax(300px, 15%) 1fr;
  height: 100vh;

  .sidebar {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    .dropdown {
      display: inline-block;
      position: relative;

      .dropdown-content {
        display: none;
        z-index: 1;

        h1 {
          display: block;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }

      &:hover {
        .dropdown-btn {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  .main {
    background-color: $secondary-color;
    &-inner {
      background-color: $primary-color;
      border-top: 1px solid $dark-color;

      .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $dark-color;
      }
    }
  }
}

.view-artwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
  }
}
